<nav class="navbar">

  <!-- Logo -->
  <a routerLink="/" class="logo">MiApp</a>

  <!-- Botón hamburguesa -->
  <div class="hamburger" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <!-- LINKS NAVBAR -->
  <div class="navbar-links" [class.active]="menuOpen">

    <a routerLink="/">Inicio</a>
    <a routerLink="/nosotros">Nosotros</a>
    <a routerLink="/contacto">Contacto</a>

    
    <a *ngIf="authService.hasRole('CLIENTE')" routerLink="/buscar">Ruta</a>

    <!-- Dropdown TARJETA -->
<div class="dropdown" *ngIf="authService.hasRole('CLIENTE')">
  <span class="dropdown-btn" (click)="toggleDropdown('tarjeta')">
    Tarjeta
  </span>

  <div class="dropdown-content" 
       [class.open]="dropdownOpen === 'tarjeta'">

    <a routerLink="/consultar-saldo">Consultar saldo</a>
    <a routerLink="/recargar-tarjeta">Recargar tarjeta</a>
  </div>
</div>

    <!-- Dropdown USUARIO -->
<div class="dropdown" *ngIf="isLoggedIn">
  <span class="dropdown-btn" (click)="toggleDropdown('user')">
    {{ username }}
  </span>

  <div class="dropdown-content" 
       [class.open]="dropdownOpen === 'user'">

    <a *ngIf="authService.hasRole('CLIENTE')" routerLink="/">Actualizar datos</a>
    <a *ngIf="authService.hasRole('CLIENTE')" routerLink="/">Consultar transacciones</a>

    <a (click)="logout()">Cerrar sesión</a>
  </div>
</div>

    <!-- No logueado -->
    <a *ngIf="!isLoggedIn" routerLink="/login">Ingresar</a>

  </div>

</nav>
