<nav class="navbar">

  <!-- Logo -->
  <a routerLink="/" class="logo">RecargaLima</a>

  <!-- Botón hamburguesa -->
  <div class="hamburger" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <!-- LINKS NAVBAR -->
  <div class="navbar-links" [class.active]="menuOpen">

    <a routerLink="/">Inicio</a>
    <a routerLink="/nosotros">Nosotros</a>

    <!-- Dropdown TARJETA -->
    <div class="dropdown" *ngIf="authService.hasRole('CLIENTE')">
      <span class="dropdown-btn" (click)="toggleDropdown('tarjeta')">
        Tarjeta
      </span>

      <div class="dropdown-content" [class.open]="dropdownOpen === 'tarjeta'">

        <a *ngIf="authService.hasRole('CLIENTE')" routerLink="/consultar-saldo">Consultar saldo</a>
        <a routerLink="/recargar-tarjeta">Recargar tarjeta</a>
      </div>
    </div>

    <!-- Dropdown RUTA -->
    <div class="dropdown" *ngIf="authService.hasRole('CLIENTE')">
      <span class="dropdown-btn" (click)="toggleDropdown('ruta')">
        Ruta
      </span>

      <div class="dropdown-content" [class.open]="dropdownOpen === 'ruta'">

        <a *ngIf="authService.hasRole('CLIENTE')" routerLink="/buscar">Consultar mejor ruta</a>
        <a *ngIf="authService.hasRole('CLIENTE')" routerLink="/notificaciones">Notificaciones</a>
      </div>
    </div>

    <!-- Dropdown USUARIO -->
    <div class="dropdown" *ngIf="isLoggedIn">
      <span class="dropdown-btn" (click)="toggleDropdown('user')">
        {{ username }}
      </span>

      <div class="dropdown-content" [class.open]="dropdownOpen === 'user'">

        <a *ngIf="authService.hasRole('CLIENTE')" routerLink="/actualizar-usuario">Actualizar datos</a>
        <a *ngIf="authService.hasRole('CLIENTE')" routerLink="/transacciones">Consultar transacciones</a>

        <a (click)="logout()">Cerrar sesión</a>
      </div>
    </div>

    <!-- No logueado -->
    <a *ngIf="!isLoggedIn" routerLink="/login">Ingresar</a>

    <!-- NOTIFICACIONES -->
    <div class="dropdown notificaciones" *ngIf="authService.hasRole('CLIENTE')">
      <span class="dropdown-btn" (click)="toggleDropdown('alertas')">
        🔔 <span class="badge" *ngIf="contador > 0">{{ contador }}</span>
      </span>

      <div class="dropdown-content" [class.open]="dropdownOpen === 'alertas'">

        <p *ngIf="alertas.length === 0" class="empty">
          No hay alertas pendientes
        </p>

        <a *ngFor="let a of alertas" (click)="verAlerta(a)">
          🚌 Ruta {{ a.rutaNombre }}<br>
          🚏 {{ a.paraderoNombre }}
        </a>
      </div>
    </div>

  </div>

</nav>