.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: linear-gradient(135deg, #4b79a1, #283e51);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
}

.logo {
    font-size: 20pt;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.navbar-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-links a,
.dropdown-btn {
    font-size: 15pt;
    color: white;
    text-decoration: none;
    padding: 6px 10px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.dropdown-btn {
    display: inline-block;
    padding: 10px 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: linear-gradient(135deg, #4b79a1, #283e51);
    border: 1px solid #ccc;
    z-index: 2000;
    padding-top: 4px;
}

.dropdown-content.open {
    display: block;
    text-align: end;
}

.dropdown-content a {
    display: block;
    padding: 10px;
}

.dropdown-content a:hover {
    background-color: #4b79a1;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 4px;
}

.hamburger span {
    width: 28px;
    height: 3px;
    background: white;
    border-radius: 5px;
}

@media (max-width: 900px) {

    .hamburger {
        display: flex;
    }

    .navbar-links {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        width: 260px;
        background-color: #4b79a1;
        padding: 15px;
        flex-direction: column;
        gap: 15px;
        z-index: 1500;
    }

    .navbar-links.active {
        display: flex;
        align-items: flex-end;
        right: 0;
    }

    .dropdown-content {
        display: none !important;
        background-color: #4b79a1;
        border: 1px solid #ccc;
        padding-left: 0;
        position: relative;
        top: 0;
        right: 0;
    }

    .dropdown-content.open {
        display: block !important;
    }

    .dropdown-content a {
        background: none;
        padding-left: 5px;
    }
}